/** @format */
.popular {
  width: 100%;
  padding: 0.9375rem 0;

  &__content {
    &-items {
      @include centrizeTag(space-between);
      flex-wrap: wrap;
    }

    &-item {
      margin-top: 1.25rem;
    }

    &-image {
      width: 100%;
      height: 15.625rem;
      background-color: $color-primery;
      border-radius: 0.625rem;
      padding: 0.9375rem;
      position: relative;

      @include Responsive(phone) {
        height: 10rem;
      }

      @include Responsive(phoneL) {
        height: 12.5rem;
      }
    }

    &-shape {
      width: 50%;
      height: 100%;
      background-color: $color-secendry;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      border-radius: 0.625rem;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
      @include centrizeTag();
      color: $color-white;
      font-size: $font-size-title;
      font-weight: bolder;
      transition: all 0.9s ease-in-out;

      &--reward {
        width: 50%;
        height: 100%;
        background-color: $color-secendry-light;
        z-index: 5;
        position: absolute;
        top: 0;
        right: 1.5625rem;
        overflow: hidden;
        border-radius: 0.625rem;
        transition: all 0.9s ease-in-out;
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);

        &:hover {
          width: 100%;
          transition: all 0.9s ease-in-out;
          cursor: pointer;
        }
      }

      &:hover {
        width: 100%;
        transition: all 0.9s ease-in-out;
        cursor: pointer;
      }
    }

    &-pic {
      border-radius: 0.9375rem;
      object-fit: cover;
    }

    &-info {
      @include centrizeTag(space-between);
      margin-top: 0.9375rem;

      @include Responsive(phone) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
      }
    }

    &-left {
      width: 50%;

      @include Responsive(phone) {
        width: 100%;
      }
    }

    &-title {
      color: $color-white;
      font-size: $font-size-lg;
      font-weight: bold;
    }

    &-description {
      color: $color-white;
      font-size: $font-size-sm;
      margin: 0.9375rem 0;

      @include Responsive(phone) {
        margin: 0.625rem 0;
      }
    }

    &-lists {
      @include centrizeTag(flex-start);
      gap: 0.625rem;
    }

    &-circle {
      width: 1.25rem;
      height: 1.25rem;
      background-color: $color-primery;
      border-radius: 100%;
      box-shadow: 0 0 0.625rem $color-green;
      @include centrizeTag();
      padding: 0.125rem;

      &-tiny {
        width: 0.75rem;
        height: 0.75rem;
        background-color: $color-green;
        border-radius: 100%;
      }
    }

    &-rate,
    &-online {
      font-size: $font-size-sm;
      color: $color-white;

      @include Responsive(phone) {
      }
    }

    &-right {
      width: 50%;
      @include centrizeTag();
      flex-direction: column;
      gap: 0.9375rem;

      @include Responsive(phone) {
        width: 100%;
        align-items: flex-start;
      }
    }

    &-game {
      @include centrizeTag();
      gap: 0.625rem;
    }

    &-flag {
      width: 0.9375rem;
    }

    &-team {
      font-size: $font-size-defult;
      color: $color-white;
      font-weight: bold;
    }

    &-score {
      font-size: $font-size-lg;
      color: $color-orang;
      font-weight: bold;
    }
  }
}
