/** @format */

//*colors
//main colors
$color-primery: #202938;
$color-secendry: #0761dc;
$color-secendry-light: #19c4e2e5;
$color-tertiary: #ff04ab;
//other colors
$color-bg: #111a23;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #17bd17;
$color-filter: #535151;
$color-orang: #f0ba09;
$color-shadow: #8383ff;
$color-discount: #ffef00;
////
$color-red: #9b061c;
$color-redDark: rgb(68, 6, 6);
$color-redLight: #a41b2f;
$color-purpleDark: #9521b3;
$color-purple: #d338f8;
$color-hover: rgba(128, 128, 128, 0.664);

//font size
$font-size-defult: 1.2rem; /* 16px / 16 */
$font-size-title: 1.6rem; /* 25px / 16 */
$font-size-sm: 0.7rem; /* 11px / 16 */
$font-size-lg: 1.5rem; /* 21px / 16 */
//font family

//Main Size
$main-width: 65.625rem; /* 1050px / 16 */
